/.idea/
build/
/.gradle/
/.kotlin/
/out/

*.iml
*.iws
*.ipr

.DS_Store
Thumbs.db

!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

local.properties
*.keystore
*.jks

*.log
*.hprof
*.swp
*.tmp
*~ 

captures/
.externalNativeBuild/
.cxx/

*.apk
*.ap_
*.aab
